---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=8aecc53d82c60c21e09b05c2135704ba&exclude=minutely,hourly,alerts&lat=38.2207&lon=-90.396&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.2207,"lon":-90.396,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1712692486,"sunrise":1712662417,"sunset":1712709117,"temp":73.63,"feels_like":72.19,"pressure":1013,"humidity":32,"dew_point":41.99,"uvi":4.46,"clouds":100,"visibility":10000,"wind_speed":4.63,"wind_deg":330,"wind_gust":7.25,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"daily":[{"dt":1712685600,"sunrise":1712662417,"sunset":1712709117,"moonrise":1712663940,"moonset":1712714580,"moon_phase":0.04,"summary":"Expect
        a day of partly cloudy with rain","temp":{"day":72.28,"min":54.66,"max":73.63,"night":56.37,"eve":65.14,"morn":55.09},"feels_like":{"day":71.01,"night":55.42,"eve":63.99,"morn":54.3},"pressure":1014,"humidity":38,"dew_point":45.28,"wind_speed":8.23,"wind_deg":288,"wind_gust":19.6,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"clouds":100,"pop":1,"rain":1.39,"uvi":6.1},{"dt":1712772000,"sunrise":1712748728,"sunset":1712795573,"moonrise":1712752260,"moonset":1712805600,"moon_phase":0.07,"summary":"Expect
        a day of partly cloudy with rain","temp":{"day":57.79,"min":53.46,"max":59.02,"night":55.51,"eve":55.71,"morn":54.12},"feels_like":{"day":57.74,"night":55.36,"eve":55.54,"morn":53.71},"pressure":1008,"humidity":95,"dew_point":56.32,"wind_speed":14.45,"wind_deg":20,"wind_gust":27.85,"weather":[{"id":502,"main":"Rain","description":"heavy
[...]
[...]
