---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely,hourly,alerts&lat=38.2207&lon=-90.396&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.2207,"lon":-90.396,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1712809661,"sunrise":1712748728,"sunset":1712795573,"temp":52.29,"feels_like":51.87,"pressure":1005,"humidity":99,"dew_point":52.02,"uvi":0,"clouds":100,"visibility":4077,"wind_speed":13.82,"wind_deg":6,"wind_gust":29.17,"weather":[{"id":502,"main":"Rain","description":"heavy
        intensity rain","icon":"10n"}],"rain":{"1h":6.14}},"daily":[{"dt":1712772000,"sunrise":1712748728,"sunset":1712795573,"moonrise":1712752260,"moonset":1712805600,"moon_phase":0.07,"summary":"Expect
        a day of partly cloudy with rain","temp":{"day":57.24,"min":52.25,"max":57.51,"night":52.29,"eve":53.92,"morn":54.32},"feels_like":{"day":57.13,"night":51.87,"eve":53.47,"morn":53.46},"pressure":1009,"humidity":95,"dew_point":55.56,"wind_speed":13.82,"wind_deg":6,"wind_gust":29.17,"weather":[{"id":502,"main":"Rain","description":"heavy
        intensity rain","icon":"10d"}],"clouds":100,"pop":1,"rain":18.14,"uvi":0.55},{"dt":1712858400,"sunrise":1712835041,"sunset":1712882029,"moonrise":1712840880,"moonset":1712896500,"moon_phase":0.11,"summary":"Expect
        a day of partly cloudy with rain","temp":{"day":61.75,"min":50.16,"max":64.78,"night":50.16,"eve":56.89,"morn":51.1},"feels_like":{"day":60.82,"night":48.07,"eve":55,"morn":49.62},"pressure":1002,"humidity":68,"dew_point":51.04,"wind_speed":19.42,"wind_deg":308,"wind_gust":35.1,"weather":[{"id":501,"main":"Rain","description":[...]
